@import url('//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css');

@font-face {
    font-family: moon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/moon.ttf);
}

@font-face {
    font-family: clipneon;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/clip.ttf);
}

@font-face {
    font-family: lasenter;
    src: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/707108/lasenter.ttf);
}

html,
body {
    background-color: black;
    display: table;
    height: 100%;
    margin: 0;
    overflow: hidden;
    padding: 0;
    width: 100%;
}

#container {
    display: table-cell;
    text-align: center;
    vertical-align: middle;
}

.dark {
    -ms-transform: rotate(-10deg);
    /* IE 9 */
    -webkit-transform: rotate(-10deg);
    /* Chrome, Safari, Opera */
    color: #660022;
    font-family: lasenter;
    font-size: 9vw;
    transform: rotate(-10deg);
    text-shadow:
        .1vw 0vw .25vw #28D7FE, .2vw 0vw .25vw #28D7FE, .4vw 0vw .25vw #28D7FE,
        .1vw 0vw .1vw #1041FF, .2vw 0vw 0vw #1041FF, .4vw 0vw 0vw #1041FF,
        .1vw 0vw .1vw #1041FF, .2vw 0vw .1vw #1041FF, .4vw 0vw 0vw #1041FF,
        .1vw 0vw .8vw #1041FF, .2vw 0vw .8vw #1041FF, .4vw 0vw .8vw #1041FF, .2vw 0vw .5vw #1041FF,
        .1vw 0vw .5vw #1041FF, .2vw 0vw .5vw #1041FF, .4vw 0vw .5vw #1041FF,
        .1vw 0vw 10vw #1041FF, .2vw 0vw 10vw #1041FF, .4vw 0vw 10vw #1041FF;
}

.rose {
    color: #660022;
    font-family: clipneon;
    font-size: 7vw;
    margin-left: 14vw;
    margin-top: -.75vw;
    text-shadow:
        .1vw 0vw .25vw #F0D6DE, .2vw 0vw .25vw #F0D6DE, .4vw 0vw .25vw #F0D6DE,
        .1vw 0vw .1vw #F181B2, .2vw 0vw 0vw #F181B2, .4vw 0vw 0vw #F181B2,
        .1vw 0vw .1vw #F181B2, .2vw 0vw .1vw #F181B2, .4vw 0vw 0vw #F181B2,
        .1vw 0vw 1vw #F181B2, .2vw 0vw 2vw #F181B2, .4vw 0vw 2vw #F181B2, .2vw 0vw 5vw #F181B2,
        .1vw 0vw .5vw #F20B70, .2vw 0vw .5vw #F20B70, .4vw 0vw 6vw #F20B70,
        .1vw 0vw 4vw #F20B70, .2vw 0vw 20vw #F20B70, .4vw 0vw 10vw #F20B70,
        .1vw 0vw 10vw #F20B70, .2vw 0vw 30vw #F20B70, .4vw 0vw 10vw #F20B70;
}

.club {
    font-family: moon;
    font-size: 8.3vw;
    margin-left: 1.5vw;
}



.club {
    animation: club 1s 0s ease infinite;
    -moz-animation: club 1s 0s ease infinite;
    /* Firefox */
    -webkit-animation: club 1s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: club 1s 0s ease infinite;
    /* Opera */
}

.dark {
    animation: club 1s 0s ease infinite;
    -moz-animation: club 1s 0s ease infinite;
    /* Firefox */
    -webkit-animation: club 1s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: club 1s 0s ease infinite;
    /* Opera */
}

.rose  {
    animation: club 1s 0s ease infinite;
    -moz-animation: club 1s 0s ease infinite;
    /* Firefox */
    -webkit-animation: club 1s 0s ease infinite;
    /* Safari and Chrome */
    -o-animation: club 1s 0s ease infinite;
    /* Opera */
}

@keyframes club {

    0%,
    100% {
        /* text-shadow:
            -.1vw 0vw .1vw #FED128, -.15vw 0vw .2vw #FED128, -.2vw 0vw .2vw #FED128,
            -.1vw 0vw 3vw #F0130B, -.2vw 0vw 3vw #F0130B, -.4vw 0vw 3vw #F0130B,
            -.1vw 0vw 5vw #F0130B, -.2vw 0vw 5vw #F0130B, -.4vw 0vw .8vw #F0130B, .2vw 0vw 10vw #F0130B;
        color: #FED128; */


             color: #FBB4FF;
             text-shadow: -.1vw 0vw .25vw #FBB4FF,
             -.2vw 0vw .25vw #FBB4FF,
             -.4vw 0vw .25vw #FBB4FF,
             -.1vw 0vw 1vw #E82FF5,
             -.2vw 0vw .8vw #E82FF5,
             -.4vw 0vw .8vw #E82FF5,
             .2vw 0vw .5vw #E82FF5,
             -.1vw 0vw 10vw #CB16FA,
             -.2vw 0vw 10vw #CB16FA,
             -.4vw 0vw 10vw #CB16FA;
    }

    50% {
        /* text-shadow:
            -.1vw 0vw .1vw #705C12, -.15vw 0vw .2vw #705C12, -.2vw 0vw .2vw #705C12,
            -.1vw 0vw .1vw #5C0704, -.2vw 0vw .1vw #5C0704, -.4vw 0vw .1vw #5C0704,
            -.1vw 0vw .2vw #5C0704, -.2vw 0vw .2vw #5C0704, -.4vw 0vw .2vw #5C0704, .2vw 0vw .5vw #5C0704;
        color: #705C12; */

         color: #8F5493;
         text-shadow: -.1vw 0vw .25vw #8F5493,
         -.2vw 0vw .25vw #8F5493,
         -.4vw 0vw .25vw #8F5493,
         -.1vw 0vw .8vw #59125E,
         -.2vw 0vw .8vw #59125E,
         -.4vw 0vw .8vw #59125E,
         .2vw 0vw .5vw #59125E,
         -.1vw 0vw 3vw #42114E,
         -.2vw 0vw 3vw #42114E,
         -.4vw 0vw 3vw #42114E;
    }
}

 .sign-four {
     color: #F0D6DE;
     font-family: clipneon;
     font-size: 2vw;
     line-height: 3vw;
     text-shadow:
         .1vw 0vw .25vw #F0D6DE, .2vw 0vw .25vw #F0D6DE, .4vw 0vw .25vw #F0D6DE,
         .1vw 0vw .1vw #F181B2, .2vw 0vw 0vw #F181B2, .4vw 0vw 0vw #F181B2,
         .1vw 0vw .1vw #F181B2, .2vw 0vw .1vw #F181B2, .4vw 0vw 0vw #F181B2,
         .1vw 0vw 1vw #F181B2, .2vw 0vw 2vw #F181B2, .4vw 0vw 2vw #F181B2, .2vw 0vw 5vw #F181B2,
         .1vw 0vw .5vw #F20B70, .2vw 0vw .5vw #F20B70, .4vw 0vw 6vw #F20B70,
         .1vw 0vw 4vw #F20B70, .2vw 0vw 20vw #F20B70, .4vw 0vw 10vw #F20B70,
         .1vw 0vw 10vw #F20B70, .2vw 0vw 30vw #F20B70, .4vw 0vw 10vw #F20B70;
 }
